
.container {
  text-align: center;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}


h1 {
  color: #000000;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.6;
}

.producto {
  background: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: orange;
  box-sizing: border-box;
  width: 100%; 
  text-align: left;
  
  
}
.producto.disponible{
  border-color:green;
}
.producto.agotado{
  border-color:red;
  
}
.producto.agotado h2{
  text-decoration: line-through;
  color: grey
  
}